version: '3.8'

services:
  flask-app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: flask-file-browser
    user: "1000:1000"  # Run as non-root user
    ports:
      - "5000:5000"
    volumes:
      - ./test:/app/files
    environment:
      - ENABLE_UPLOAD=True
      - ENABLE_NEW_FOLDER=True
      - LOKI_URL=loki:3100
    restart: unless-stopped
    develop:
      watch:
        - action: sync
          path: ./
          target: /app
          ignore:
            - venv/
        - action: rebuild
          path: requirements.txt

  nginx:
    image: nginx:alpine
    container_name: flask-file-browser-nginx
    network_mode: "host"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ./static:/app/static:ro  # Serve static files directly from nginx
    depends_on:
      - flask-app
    restart: unless-stopped


  loki:
    image: grafana/loki:latest
    ports:
      - "3100:3100"
    command: -config.file=/etc/loki/local-config.yaml

  grafana:
    image: grafana/grafana:latest
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_SECURITY_ADMIN_USER=admin
      - GF_INSTALL_PLUGINS=
    volumes:
      - grafana-storage:/var/lib/grafana
      - ./grafana/provisioning:/etc/grafana/provisioning
      - ./grafana/dashboards:/var/lib/grafana/dashboards
    depends_on:
      - loki


volumes:
  grafana-storage:
