{% macro render_versions(group, tool) %}
    <ol class="list-decimal">
        {% for version in tool.versions %}
            {% set link_parts = version.link.split('/') %}
            {% if link_parts|length == 4 %}
                <li>
                    <a href="{{ url_for('download_file', group=link_parts[0], tool=link_parts[1], version=link_parts[2], name=link_parts[3]) }}">{{ version.display }}</a>
                </li>
            {% else %}
                <li class="text-danger"><s>{{ version.display }}</s> (broken)</li>
            {% endif %}
        {% endfor %}
    </ol>
    {% if tool.versions|length > 1 %}
        <a href="{{ url_for('show_all_versions', group=group.group, tool=tool.name) }}"
           class="inline-flex items-center px-3 mt-4 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Show All Versions
        </a>
    {% endif %}
{% endmacro %}